{% extends 'base/base.html' %}

{% block content %}
{{ super() }}
{% include 'authors/base.html' %}
<div class="main">
    <div class="wrapper list">
        <h2>Список Книг</h2>
        {% for cat, msg in get_flashed_messages(True) %}
        <div class="flash {{cat}}">{{msg}}</div>
        {% endfor %}
        <ul class="list-books">
            {% for b in books %}
            <li>
                <a href="{{url_for('.book_detail', book_id=b.id)}}" class="title">{{b.id}}.
                    {{b.title_book}}.{{b.authors}} | </a>
                <a href="{{url_for('.add_favorite', book_id=b.id)}}" class="title"><span>&#9734;</span></a>
            </li>
            {% endfor %}
        </ul>
    </div>

</div>
{% endblock %}