{% extends 'base/base.html' %}

{% block content %}
{{ super() }}
{% include 'authors/base.html' %}
<div class="wrap-add-book">
    <h2>Поиск книги</h2>
    {% for cat, msg in get_flashed_messages(True) %}
    <div class="flash {{cat}}">{{msg}}</div>
    {% endfor %}
    <form action="{{url_for('.find_book')}}" method="post" class="form-contact">
        <p><label>Название книги: </label>
            <input type="text" name="name" value="" placeholder="Название книги" required/>
        <p><input type="submit" value="Найти"/>
    </form>


</div>
<div class="author">
    {% for b in book %}
    <p>{{b}}</p>
    {%endfor%}
</div>

{% endblock %}