{% extends 'base/base.html' %}

{% block content %}
{{ super() }}
{% include 'authors/base.html' %}
<div class="author">
    <h2>Добавление автора</h2>
    <div class="wrap-add-book">
        {% for cat, msg in get_flashed_messages(True) %}
        <div class="flash {{cat}}">{{msg}}</div>
        {% endfor %}
        <form action="{{url_for('.add_author')}}" method="post" class="form-contact">
            <p><label>Имя автора: </label>
                <input type="text" name="name" value="" required/>
            <p><input type="submit" value="Добавить"/>
        </form>
    </div>
</div>

{% endblock %}