html, body{
    margin: 0;
    padding: 0;
    font-family: 'Arial';
    box-sizing: border-box;
}

.main{
    display: flex;
    justify-content: center;

}
.wrapper {
    margin-top: 6rem;
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.wrapper.list{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item {
    margin: 5px;
    display: flex;
    justify-content: center;
}
button {
    width: 13rem;
    height: 2rem;
    border-radius: 6px;
    border: 1px solid gray;
}
ul{
    list-style: none
}
.author{
    display: flex;
    flex-direction: column;
    width: 600px;
    margin: 0 auto;
    align-items: center;
    padding: 10px;

}
.author p{
    margin: 4px
}
p label{
    display: flex;
    flex-direction: column;
}
.wrap-add-book{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flash {padding: 10px;}
.flash.success {
	border: 1px solid #21DB56;
	background: #AEFFC5;
}
.flash.error {
	border: 1px solid #FF4343;
	background: #FF9C9C;
}

.form-contact :last-child{
    margin: 4px;
}